<p>Fill the form to create a new videogame:</p>

{{!-- action -- link connection method form --}}
<form action="/new-videogame" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <br>
    <label for="platform">Platform: </label>
    <input type="text" name="platform" id="platform">
    <br>
    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre">
    <br>
    <label for="developer">Developer: </label>
    <input type="text" name="developer" id="developer">
    <br>
    <label for="releaseDate">Release Date: </label>
    <input type="text" name="releaseDate" id="releaseDate">
    <br>
    <label for="pegi">PEGI: </label>
    <input type="text" name="pegi" id="pegi">
    <br>
    <button class="button is-primary">CREATE</button>
</form>
